# Deep learning
torch>=2.0
sentence-transformers

# Data & ML
datasets
pandas
xgboost
numpy
scikit-learn
ijson

# API
fastapi
uvicorn[standard]
pydantic

# Training
tqdm

# Visualisation
matplotlib
seaborn

# Notebooks
jupyter
